<!--//************************************
// Begin defining a new symbol
/*
Empresa: Piper Ingenieros SAC
Ing. Sergio Requelme
*/
//************************************
-->
<ul kendo-panel-bar class="t-side-panel-bgcolor" style="font-size: 14px;">
    <li class="k-state-active">
        <span class="panel-bar-label-no-wrap">Ver</span>
        <div style="margin: 8px 0;">
            <label class="flex-align-center" style="margin-top:8px; margin-left: 35px;font-size:14px;">
                <label>Tamaño texto</label>
                <input type="number" class="" style="margin-left:8px" ng-model="config.fontSize">
            </label>
            <label class="flex-align-center" style="margin-top:8px; margin-left: 14px;font-size:14px;">
                <input type="number" style="margin-right:8px;text-align:center" ng-model="config.decimalPlaces">Número de decimales<br />
            </label>
            <label class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">
                <input type="checkbox" class="c-config-checkbox" ng-model="config.showTitle">Ver título<br />

            </label>
            <label class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">
                <input type="checkbox" class="c-config-checkbox" ng-model="config.useCustomTitle">Usar título personalizado<br />

            </label>
            <label style="margin-top:8px; margin-left: 20px;font-size:14px;" ng-show="config.useCustomTitle">
                <br />
                <input type="text" class="" style="text-align:center;margin-left:10px;" ng-model="config.customTitle">
                <br />
            </label>
            <label class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">
                <input type="checkbox" class="c-config-checkbox" ng-model="config.showLegend">Ver Leyenda<br />
            </label>
            <!--<select  class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">
            <option value="left">Left</option>
            <option value="right">Right</option>
            <option value="bottom">Bot</option>
            </select>
            -->
            <div class="config-option-ie11-overflow-fix">
                <label class="flex-align-center" ng-show="config.showLegend" style="margin-top:8px; margin-left: 35px;font-size:14px;">Posicion
                    <select ng-model="config.legendPosition" ng-model-options="{ getterSetter: true }" style="margin-left: 20px;font-size:12px;">
                        <option value="left">Left</option>
                        <option value="right">Right</option>
                        <option value="bottom">Bot</option>
                    </select>
                </label>
            </div>

            <label class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">
                <input type="checkbox" class="c-config-checkbox" ng-model="config.showChartScrollBar">Ver Barra de Tiempo<br />
            </label>
        </div>
    </li>

    <li>
        <span class="panel-bar-label-no-wrap">Colores</span>
        <div style="margin: 8px 0;">
            <div class="config-option-format">
                <pv-color-picker id="textColor" ng-model="config.textColor" config="config" colorkeyword="Texto">
                </pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="backgroundColor" ng-model="config.backgroundColor" config="config" colorkeyword="Fondo">
                </pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="plotAreaFillColor" ng-model="config.plotAreaFillColor" config="config" colorkeyword="Relleno de Area">
                </pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="seriesColor1" ng-model="config.seriesColor1" config="config" colorkeyword="Serie 1">
                </pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="seriesColor2" ng-model="config.seriesColor2" config="config" colorkeyword="Serie 2">
                </pv-color-picker>
            </div>
            
            <div class="config-option-format">
                <pv-color-picker id="axesColor" ng-model="config.axesColor" config="config" colorkeyword="Axes">
                </pv-color-picker>
            </div>


        </div>
    </li>
</ul>
